body {
  font-family: Ubuntu, "PT Sans", sans-serif;
  font-weight: 300;
}

.container {
  max-width: 850px;
  margin: 10px;
}

.container .row img {
  max-width: 137px;
  max-height: 200px;
  overflow: hidden;
}

header {
  padding: 20px 0;
}

a {
  color: black;
}

a:active {
  color: gray;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: gray;
}
ul {
  list-style: none;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 400;
  margin: 0;
  font-family: Ubuntu, "PT Sans";
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

.footer {
    background: #ffffff;
    padding: 10px 0;
}

.footer a {
    color: #0077B5;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:first-child {
}

.footer .col-sm-10 {
	display: flex;
	justify-content: flex-end;
}

.footer a:hover {
    color: black;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer .row {
	justify-content: flex-end;
}
